{% extends "nav_base.html" %}

{% block content %}
<body>
	<div class="jumbotron text-center" style="margin-bottom:0;
  background-image: url('/static/home.jpg');
  background-repeat: no-repeat;
  background-size: auto;">
  <h1 style="color: white">Online Bookstore</h1>
  <p style="color: white; margin-bottom: 5cm">I Like Big Books and I Cannot Lie.</p>
</div>
<div style="margin: 4em">
	<h1 class = "text-center">About us:</h1>
  <h2>Our Mission</h2>
  <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer eget mi pulvinar, pellentesque orci sit amet, faucibus augue. Nullam ullamcorper, dolor id hendrerit iaculis, felis nisl vulputate nisl, vitae suscipit magna nunc pulvinar metus. Ut condimentum porttitor augue, eget rutrum urna dignissim et. Sed ac mi finibus, suscipit lorem a, accumsan lacus. Nullam dapibus arcu leo, sed consequat eros aliquet venenatis. Nulla condimentum orci in felis tincidunt, et mollis lacus porttitor. Sed interdum enim pulvinar nibh maximus, in euismod orci elementum. Aliquam pretium ultrices mi, interdum pharetra metus fringilla vitae. Etiam rutrum vehicula molestie. Nulla efficitur, sapien eget varius pharetra, dui ex bibendum turpis, non sollicitudin turpis justo eget tellus. Vestibulum vel sagittis orci, et eleifend urna.</p>
  <h2>Our Promise</h2>
  <p>Duis et rhoncus lorem, id accumsan risus. Morbi in est eu felis fringilla porta. Nunc in rhoncus augue. Phasellus viverra vehicula tincidunt. Nulla pellentesque nisi ac dolor sollicitudin, id consectetur diam aliquet. Ut faucibus, ante sed fermentum tempus, metus magna consectetur eros, eu pulvinar leo nunc quis purus. Curabitur finibus lacus sed sapien cursus convallis sit amet vel magna. Integer rutrum et sapien ut molestie. Vestibulum sollicitudin condimentum molestie. Curabitur lacinia nisi eget lorem consectetur facilisis. Donec urna risus, interdum quis laoreet vitae, egestas vel lorem.</p>
  <h2>About our Team</h2>
  <p>Aliquam vulputate nisl eget ante congue, vitae efficitur tortor porta. Maecenas accumsan libero sit amet ligula molestie laoreet. Morbi porttitor lacus arcu, vel ultricies neque imperdiet non. Nulla venenatis eleifend nisi in sodales. Curabitur egestas, neque a fringilla commodo, turpis urna scelerisque tortor, id cursus mi nunc in nisl. Donec eu aliquam enim. Fusce eget imperdiet odio, eget cursus dolor. Aenean neque felis, faucibus in ipsum efficitur, venenatis ornare odio. Praesent auctor accumsan arcu, quis pellentesque turpis dictum tempor. Nunc quis risus dapibus quam sodales mattis. Integer aliquam fermentum metus, et sollicitudin orci blandit vitae. Suspendisse quis mi ut elit tempus maximus quis ultricies lorem. Pellentesque luctus velit dui.</p>
</div>
</body>
{% endblock %}
