{% extends "nav_base.html" %}

{% block content %}
<div class="container">
  <h2>Users</h2>
  <p>Lists all users in databases:</p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href = "user.html">John</a></td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
  <a class = "btn btn-primary" href = "addemployee.html" role = "button">Add User</a> <!--Needs to be changed to link to add user page -->
</div>

{% endblock %}
